/* style login*/
.bodyLogin{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, blue, yellow);
}
.divLogin{
    background-color: rgba(0, 0, 0, 0.84);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
.inputLogin{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.buttonLogin{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: deepskyblue;
}

/* Style Cadastro: */

.bodyCadastro{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, blue, yellow);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}
fieldset{
    border: 3px solid dodgerblue;

}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 5px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#dataNascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-color: dodgerblue;
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
#submit:hover{
background-color: deepskyblue;
}